<script type="text/javascript">
  <% if logged_in? %>
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
  window.images = {
    logo: "<%= image_path("instapound.png") %>",
    logoText: "<%= image_path("instapound_text.png") %>",
    mobileImage: "<%= image_path("instapound-mobile-interface.png") %>",
    navUser: ""
  }
  

</script>

<main id='root'></main>
