.edit-profile-container {
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  min-width: 50px;
  max-width: 696px;
  margin-top: 60px;
  font-family: 'proxima-nova', 'Montserrat','Helvitica Neue', Arial, Helvetica, sans-serif;
}

.edit-profile-pic {
  width: 38px;
  height: 38px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: cover;
  position: absolute;
  right: 32px;
}

.edit-user-header {
  display: flex;
  margin: 32px 0 16px;

}

.edit-row {
  display: flex;
}

.edit-label {
  padding: 0 32px;
  text-align: right;
  min-width: 194px;
  box-sizing: border-box;
  line-height: 37px;
  position: relative;
}

.edit-submit {
  width: 100px;
  font-weight: 400;
}
