.image-modal {
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  font-family: 'proxima-nova', 'Montserrat','Helvitica Neue', Arial, Helvetica, sans-serif;
  max-height: 750px;
}

.image-modal-section {
  max-width: 935px;
  height: 100%;
  display: flex;
  position: relative;
}

.image-modal-photo {
  overflow: hidden;
  max-height: 750px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-modal-fields {
  width: 335px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.image-modal-header {
  height: 64px;
  padding: 20px 0;
  margin-right: 24px;
  display: flex;
  border-bottom: 1px solid #efefef;
}

.author-name:hover {
  cursor: pointer;
}

.image-comments-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-comments-section {
  height: 100%;
}

.image-comments-list {
  margin-top: 20px;
  overflow-y: scroll;
}

.image-comments-list > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 7px;
  position: relative;
  word-wrap: break-word;
}

.image-comment-footer {
  display: flex;
  bottom: 0;
  height: 68px;
  width: 100%;
  position: absolute;
}
