.image-modal {
  background-color: #fff;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  font-family: 'proxima-nova', 'Montserrat','Helvitica Neue', Arial, Helvetica, sans-serif;
  max-height: 600px;
}

.image-modal-section {
  // max-width: 935px;
  height: 100%;
  display: flex;
  position: relative;
}

.image-modal-photo {
  overflow: hidden;
  height: 600px;
  max-width: 600px;
  display: flex;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
}

.image-modal-fields {
  width: 335px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  height: 600px;
}

.image-modal-header {
  height: 64px;
  padding: 20px 0;
  margin-right: 24px;
  display: flex;
  border-bottom: 1px solid #efefef;
}

.author-name:hover {
  cursor: pointer;
}

.image-comments-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 335px;
  height: 454px;
}

.image-comments-section {
  height: 430px;
}

.image-comments-list-container {
  height: 100%;
}

.image-comments-list {
  padding-right: 24px;
  margin-top: 20px;
  overflow-y: scroll;
  width: 93%;
  height: 95%;
}

.image-comments-list > li {
  display: flex;
  // justify-content: space-between;
  margin-bottom: 7px;
  position: relative;
  word-wrap: break-word;
  width: 100%;
}

.image-comment-head {
  width: 92%;
}

.image-comment-footer {
  border-top: 1px solid #dbdbdb;
  display: flex;
  height: 68px;
  width: 84%;
  padding-top: 20px;
  // position: absolute;
}

.delete-comment {
  width: 11px;
  float: right;
  margin-left: 10px;
}
