.logout-modal, .profile-pic-modal{
  width: 510px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'proxima-nova', 'Montserrat','Helvitica Neue', Arial, Helvetica, sans-serif;
}

.profile-pic-modal {
  height: 150px;
}

.no-click{
  display: block;
  font-weight: bold;
  color: #999;
}

.upload-photo-div {
  position: relative;
}

.choose-photo {
  position: relative;
}

#file, #chosen-file {
  bottom: 0;
  right: 0;
  position: absolute;
  width: 100%;
  opacity: 0;
  &:hover {
    cursor: pointer;
  }
}

#chosen-file {
  height: 100%;
}

.logut-modal {
  height: 100px;
  ul {
    display: flex;
    flex-direction: column;
  }
}

.button-modal, .no-click{
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  width: 510px;
  position: relative;
}

.button-modal {
  color: #262626;
  &:hover {
    background-color: #efefef;
  }
}

.logout-modal > ul > li:first-child{
  border-bottom: 1px solid #dbdbdb;
}

// .button-modal:hover {
//   background-color: #efefef
// }

.exit {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  margin: 13px 13px 0 0;
  width: 17px;
  z-index: 1;
}
