/* Remove scroll on the body when react-modal is open */
.ReactModal__Body--open {
    overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-modal, .profile-pic-modal{
  width: 510px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  font-family: 'proxima-nova', 'Montserrat','Helvitica Neue', Arial, Helvetica, sans-serif;
}

.profile-pic-modal {
  height: 150px;
}

.no-click{
  display: block;
  font-weight: bold;
  color: #999;
}

.logut-modal {
  height: 100px;
}

.logout-modal > ul {
  display: flex;
  flex-direction: column;
}

.button-modal, .no-click{
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  width: 510px;
}

.button-modal {
  color: #262626;
}

.logout-modal > ul > li:first-child{
  border-bottom: 1px solid #dbdbdb;
}

.button-modal:hover {
  background-color: #efefef
}

.exit {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-weight: bold;
  margin: 13px 13px 0 0;
  width: 17px;
}
