.navbar-container{
  height: 77px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.nav{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 925px;
}

.logos{
  margin-top: 18px;
  display: flex;
}

.box {
  margin-top: 26px;
  width: 215px;
  min-width: 125px;
  height: 28px;
  margin-right: 180px;
}

.container {
  position: relative;
  width: 215px;
  vertical-align: middle;
  white-space: nowrap;
}

.search-icon {
  /*position: absolute;*/
  /*top: 50%;*/
  /*margin-left: 17px;
  margin-top: 17px;*/
  /*z-index: 1;*/
  margin-right: 6px;
  vertical-align: baseline;
  display: inline-block;
  color: #999;
}

#search {
  font-family: 'Montserrat','proxima-nova', 'Helvitica Neue', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  padding-left: 45px;
  border-radius: 3px;
  padding: 3px 10px 3px 26px;
  box-sizing: border-box;
  color: #262626
}

.logo-image{
  margin-top: 6px;
  max-height: 31px;
  max-width: 37px;
  padding-right: 20px;
  border-right: 1px solid black;
}

.logo-text{
  max-height: 42px;
  max-width: 124px;
  margin-left: 18px;
}

.nav-icons{
  margin-top: 28px;
}

.icon-list{
  display: flex;
}

.icon {
  max-width: 24px;
  margin-right: 10px;
}
