

body{
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}

.photo-feed-container {
  margin: 0 auto;
  max-width: 600px;
  border: 0 solid #000;
  box-sizing: border-box;
  flex-direction: column;
  font-family: 'proxima-nova', 'Montserrat','Helvitica Neue', Arial, Helvetica, sans-serif;
  // position: relative;
}

.post-container {
  background-color: #fff;
  margin: 60px 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.post-header{
  height: 64px;
  padding: 14px 20px;
  display: flex;
  border-bottom: 1px solid #e6e6e6;
  justify-content: space-between;
}

.post-user {
  display: flex;
  margin-top: 2px;
}

.time-ago{
  margin-top: 9px;
  font-size: 15px;
  line-height: 18px;
  color: #999
}

.post-author-profile-pic{
  width: 30px;
  height: 30px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
  object-fit: cover;
  margin-right: 5px;
}

.text{
  color: #262626;
  font-size: 15px;
  line-height: 17px;

}

.name {
  font-weight: bold;
  margin-right: .3em;
}

.post-author-name-location {
  display: flex;
  flex-direction: column;

}

.post-author-name {
  display: block;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.author-name {
  text-decoration: none;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  // padding-left: 10px;
  // padding-top: 5px;
  padding-bottom: 17px;
  font-weight: 600;
}

.caption-head {
  vertical-align: baseline;
  margin-bottom: 5px;
}

.comment-name{
  text-decoration: none;
  // display: inline-block;
}

.post-image {
  // min-height: 600px;
  max-height: 750px;
}

.post-footer {
  padding: 0 24px 20px 24px;
}

.likes {
  margin: 20px 0 7px 0;
}

.image-caption {
  display: flex;
  flex-direction: column;
}

.comments-list > li {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.comment-head {
  width: 100%;
  word-wrap: break-word;
}

.comments-list > li:last-child {
  margin-bottom: 0px;
}

.comments-list > li > span {
  // width: 92%;
  word-wrap: break-word;
}

.comment-section {
  width: 100%;
  display: flex;
  border-top: 1px solid #dbdbdb;
  padding-top: 20px;
  margin-top: 15px;
}

.comment-div {
  width: 100%;
}

.heart {
  width: 24px;
  margin-right: 15px;
}

.comment-form {
  width: 100%;
}

.comment-input {
  width: 100%;
}
