body{
  height: 100%;
  width: 100%;
  background-color: #fafafa;
}

.profile-container {
  width: 935px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  font-family: 'proxima-nova', 'Montserrat','Helvitica Neue', Arial, Helvetica, sans-serif;
}

.user-details {
  margin-left: 85px;
  margin-bottom: 44px;
  display: flex;
}

.profile-pic-button {
  width: 150px;
  height: 150px;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic {
  width: 150px;
  height: 150px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
  box-sizing: border-box;
  object-fit: cover;
}

.user-info {
  margin-left: 85px;
  display: flex;
  flex-direction: column;
}

.user-info-row-1 {
  display: flex;
  margin-bottom: 20px;
}

#username-header-1 {
  font-size: 34px;
  line-height: 40px;
  font-weight: 300;
}

.profile-button {
  margin: 7px 20px 0 20px;
  padding: 0 24px;
  height: 30px;
  font-size: 14px;
  color: #262626;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  font-weight: 500;
  display: block;
}

.upload-button {
  width: 25px;
  margin-right: 19px;
}

.logout-button {
  width: 44px;
  img {
    width: 75%;
  }
}

.user-info-row-2 {
  display: flex;
  li {
    margin-right: 40px;

    a:hover {
      cursor:pointer;
    }
  }
}

.bold {
  font-weight: 500;
  margin-right: 5px;
}

.user-info-row-3 {
  margin-top:20px;
}

.name {
  display: inline;
  font-weight: 600;
}

.profile-image-section{
  width: 935px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.profile-image:nth-child(3n+3) {
  margin-right: 0;
}

.profile-image {
  display: block;
  width: 293px;
  height: 293px;
  background: black;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 28px 28px 0;
  a {
    img {
      height: 100%;
      object-fit: cover;
      &:hover {
        cursor: pointer;
        opacity: .75;
      }
    }
    &:hover + .image-likes-comments {
      opacity: 1.0;
    }
  }
}

.image-likes-comments {
  position: absolute;
  display: flex;
  top: 135px;
  left: 90px;
  opacity: 0;
  width: 110px;
  justify-content: space-between;
  font-style: inherit;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  div {
    display: flex;
    div {
      width: 25px;
      height: 25px;
      margin-right: 5px;
    }
  }
}
