.box {
  margin-top: 26px;
  width: 215px;
  min-width: 125px;
  height: 28px;
  margin-right: 180px;
  position: relative;
  font-family: 'Montserrat','proxima-nova', 'Helvitica Neue', Arial, Helvetica, sans-serif;
}

.search-icon {
  margin-right: 6px;
  vertical-align: baseline;
  display: inline-block;
  color: #999;
}

#search {
  width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  padding-left: 45px;
  border-radius: 3px;
  padding: 3px 10px 3px 26px;
  box-sizing: border-box;
  color: #262626
}

.query-result {
  position: absolute;
  display: block;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
  left: 3%;
  top: 45px;
  width: 243px;
  z-index: 2;
}

.arrow, .arrow-shadow {
  position: absolute;
  transform: rotate(45deg);
  display: block;
  height: 15px;
  width: 15px;
  left: 55%;
  top: 134%;
}

.arrow {
  background: #fff;
  z-index: 3;
}

.arrow-shadow {
  box-shadow: 0 0 12px rgba(0,0,0,.0975);
  z-index: 1;
}

.users-list-div {
  display: flex;
  flex-direction: column;
  max-height: 362px;
  min-height: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}

.user-row {
  display: flex;
  border-bottom: 1px solid #efefef;
  position: relative;
  align-items: center;
  padding: 8px 14px;
  height: 50px;
}

.user-row:hover {
  background: #fafafa;
}

.username {
  font-weight: bold;
  margin-left: 5px;
}

.no-result-row {
  align-items: center;
  padding: 0;
  height: 30px;
}

.no-result-text {
  display: block;
  color: #999;
  font-size: 14px;
  text-align: center;
  padding: 15px;
}
