<!DOCTYPE html>
<html>
  <head>
    <title>Instapound</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
